<div id="landing">
	<p>Everyone has an opinion that matters, so share it with the people who admire yours the most and start creating the perfect community for you.</p>

	<div class="wrapper">
		<%= form_tag(signup_path, remote: true) do %>
			<p>
				Share your answer to the question on the previous page via facebook, <%= link_to("Tweet", "https://twitter.com/share", :"data-text" => "@teamswayly - if u could have any gift up 2 $100 what would it be? I chose #{params[:answer]}! Answer to win. #mygift", :"data-url" => "", :"data-count" => "none", class: "twitter-share-button") %>, or email.<br>
				The more people you share your answer with the more likely you'll win your gift!  :)
			</p>

			<div class="input">
				<%= hidden_field_tag(:answer, params[:answer]) %>
				<%= label_tag(:friends, "Enter emails separated by commas") %><br>
				<%= label_tag(:friends, "Start typing&hellip;".html_safe, class: "i") %>

				<%= text_field_tag(:friends, "", placeholder: "emails", autocomplete: "off") %>
			</div>

			<div class="right">
				<%= submit_tag("Share") %>
			</div>
		<% end %>
	</div>
</div>

<script type="text/javascript">
$(function() { SiteBindings.promo(); });
</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
